name: 'Tailscale DERP Server'
on:  
  # 手动触发
  workflow_dispatch:
jobs:
  amd64:
    runs-on: ubuntu-24.04 #ubuntu-24.04-arm
    steps:
      - name: '检出 tailscale/tailscale 仓库'
        uses: actions/checkout@v3
        with:
          repository: tailscale/tailscale
          path: tailscale
          submodules: true
      - name: '初始化 Go 环境'
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.6'
      - name: '检查 Go 版本'
        run: go version
      - name: '编译代码'
        run: |
          ls ${GITHUB_WORKSPACE}/tailscale/
    
