name: 'Tailscale DERP Server'
on:  
  # 手动触发
  workflow_dispatch:
jobs:
  amd64:
    runs-on: ubuntu-24.04 #ubuntu-24.04-arm
    steps:
      # https://github.com/tailscale/tailscale
      - name: '检出 tailscale/tailscale 仓库'
        uses: actions/checkout@v3
        with:
          repository: tailscale/tailscale
          path: tailscale
          submodules: true
      # 
      - name: '初始化 Go 环境'
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.6'
      - name: '检查 Go 版本'
        run: go version
      - name: '初始化编译环境'
        run: mkdir --parents ${GITHUB_WORKSPACE}/builds/derp
      - name: '编译代码'
        run: |          
          cd ${GITHUB_WORKSPACE}/tailscale/derp
          go build -ldflags "-s -w" -o ${GITHUB_WORKSPACE}/builds/derp/derper
      - name: '打包'
        run: |
          cd ${GITHUB_WORKSPACE}/builds
          ls -l
          tar -czf derper_amd64.tar.gz derp
          ls -l
      - name: '发布'
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ${GITHUB_WORKSPACE}/builds/derper_amd64.tar.gz
            ${GITHUB_WORKSPACE}/builds/derp/derper
          draft: true
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GHT }}



    
