name: 'Tailscale DERP Server'
on:  
  # 手动触发
  workflow_dispatch:
jobs:
  Build:  
    strategy:
      matrix:
        env:
          - "GOARCH=arm64 GOOS=linux"
          - "GOARCH=amd64 GOOS=linux"
    # https://docs.github.com/zh/actions/how-tos/write-workflows/choose-where-workflows-run/choose-the-runner-for-a-job
    runs-on: ubuntu-latest    
    env:
      GO-VERSION: '1.25.6'
    steps:      
      # https://github.com/actions/checkout
      - name: '检出 tailscale/tailscale 仓库'
        uses: actions/checkout@v6
        with:
          repository: tailscale/tailscale
          path: tailscale
          submodules: true
      # https://github.com/actions/setup-go
      - name: '初始化 Go 环境'
        uses: actions/setup-go@v6
        with:
          go-version: ${{env.GO-VERSION}}
      - name: '还原依赖'
        id: restore
        run: |       
          export ${{ matrix.env }}
          echo "arch=${GOARCH}" >> $GITHUB_OUTPUT
          echo "os=${GOOS}" >> $GITHUB_OUTPUT
          mkdir --parents ${GITHUB_WORKSPACE}/artifacts/${GOOS}_${GOARCH}/derper
          cd ${GITHUB_WORKSPACE}/tailscale
          echo "version=$(cat VERSION.txt)" >> $GITHUB_OUTPUT
          echo "head=$(git log -1 --format="%H")" >> $GITHUB_OUTPUT
          cd ${GITHUB_WORKSPACE}/tailscale/cmd/derper
          echo go get .
        # https://github.com/tailscale/tailscale
      - name: '编译代码'
        run: |      
          export ${{ matrix.env }}
          cd ${GITHUB_WORKSPACE}/tailscale/cmd/derper
          echo go build -ldflags "-s -w" -v -o ${GITHUB_WORKSPACE}/artifacts/${GOOS}_${GOARCH}/derper/derper ./...          
      - name: '打包文件'
        run: |
          export ${{ matrix.env }}
          cd ${GITHUB_WORKSPACE}/artifacts/${GOOS}_${GOARCH}
          echo tar -czf derper_${GOOS}_${GOARCH}.tar.gz derper
      - name: '发布文件'
        env:
          GH_TOKEN: ${{ secrets.GTH }}
        run: | 
          export ${{ matrix.env }}
          cd ${GITHUB_WORKSPACE}/artifacts/${GOOS}_${GOARCH}
          gh release create derper-${{ steps.restore.outputs.version }}.${{ steps.restore.outputs.head }} --draft --title=derper-${{ steps.restore.outputs.version }}.${{ steps.restore.outputs.head }}
          gh release upload derper-${{ steps.restore.outputs.version }}.${{ steps.restore.outputs.head }} derper_${GOOS}_${GOARCH}.tar.gz


      


    
