name: 'Tailscale DERP Server'
on:  
  # 手动触发
  workflow_dispatch:
jobs:
  Build:  
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env:
          - "GOARCH=arm64 GOOS=linux"
          - "GOARCH=amd64 GOOS=linux"
    env:
      GO-VERSION: '1.25.6'
    steps:      
      # https://github.com/actions/checkout
      - name: '检出 tailscale/tailscale 仓库'
        uses: actions/checkout@v6
        with:
          repository: tailscale/tailscale
          path: tailscale
          submodules: true
      # https://github.com/actions/setup-go
      - name: '初始化 Go 环境'
        uses: actions/setup-go@v6
        with:
          go-version: ${{env.GO-VERSION}}
      - name: '初始化编译环境'
        run: |
          export ${{ matrix.env }}
          mkdir --parents ${GITHUB_WORKSPACE}/cmd/${GOOS}_${GOARCH}/derper
          cd ${GITHUB_WORKSPACE}/tailscale/cmd/derper          
          go get .
        # https://github.com/tailscale/tailscale
      - name: '编译代码'
        run: |      
          export ${{ matrix.env }}
          cd ${GITHUB_WORKSPACE}/tailscale/cmd/derper
          go build -ldflags "-s -w" -v -o ${GITHUB_WORKSPACE}/cmd/${GOOS}_${GOARCH}/derper/derper ./...
          ls ${GITHUB_WORKSPACE}/cmd/${GOOS}_${GOARCH}/derper
          chmod 755 ${GITHUB_WORKSPACE}/cmd/${GOOS}_${GOARCH}/derper/derper
          ${GITHUB_WORKSPACE}/cmd/${GOOS}_${GOARCH}/derper/derper -version
      - name: '打包'
        run: |
          export ${{ matrix.env }}
          cd ${GITHUB_WORKSPACE}/cmd/${GOOS}_${GOARCH}
          tar -czf derper_${GOOS}_${GOARCH}.tar.gz derper
         


    
