name: 'Test'
on:  
  # 手动触发
  workflow_dispatch:
    inputs:
      tag:
        description: '请选择版本（latest,dev,vX.XX.X）'
        required: true
        default: 'latest'
        type: string
jobs:
  Version:
    runs-on: ubuntu-latest
    env:
      REPO_TAILSCALE: 'tailscale/tailscale'
    outputs:
      version: ${{steps.check_version.outputs.version}}
    steps:      
      - name: '检测版本信息'
        id: check_version
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          TAG: ${{ inputs.tag }}
        run: |          
          if [[ "${TAG}" = = "latest" ]] || [[ "${TAG}" == "" ]]; then
            version=$(gh api repos/tailscale/tailscale/releases --jq "limit(1; .[] | select(.draft == false and .prerelease == false)) | .tag_name ")            
          elif [[ "${TAG:0:1}" == "v" ]]; then
            version=$(gh api repos/tailscale/tailscale/releases --jq "limit(1; .[] | select(.tag_name == \"${TAG}\" )) | .tag_name ")            
          else
            version=""            
          fi
          if [[ "${TAG}" != "dev" ]] && [[ "${version}" == "" ]]; then
            echo "获取版本信息错误(${TAG})"
            exit 1
          fi
          if [[ "${TAG}" == "dev" ]]; then
            echo "使用最新提交代码"
          else
            echo "获取版本信息成功(${version})"
          fi
          echo "version=${version}" >> ${GITHUB_OUTPUT}
