name: 'Test'
on:  
  # 手动触发
  workflow_dispatch:
jobs:
  Build:  
    strategy:
      matrix:
        env: [linux-amd64, linux-arm64]
        include:
          - env: linux-amd64
            arch: amd64
            os: linux
            exit: 0
          - env: linux-arm64
            arch: arm64
            os: linux
            exit: 0
        cmd: [ /cmd/derper, /cmd/test ]
    # https://docs.github.com/zh/actions/how-tos/write-workflows/choose-where-workflows-run/choose-the-runner-for-a-job
    runs-on: ubuntu-latest    
    env:
      GO-VERSION: '1.25.6'
      TZ: 'UTC'
      ARTIFACT-PREFIX: 'artifact'
    outputs:
      artifacts_linux_amd64: ${{steps.build.outputs.artifact_linux-amd64}}
      artifacts_linux_arm64: ${{steps.build.outputs.artifact_linux-arm64}}
    steps:      
      - name: '构建'
        id: build
        run: |       
          export GOARCH=${{ matrix.arch }} GOOS=${{ matrix.os }}
          echo ${GOARCH}
          echo ${GOOS}
          date +"%Z %z"
          export TZ=${{ env.TZ }}
          date +"%Z %z" > ${GITHUB_WORKSPACE}/${{env.ARTIFACT-PREFIX}}_${{matrix.env}}
          unset TZ
          date +"%Z %z"
          echo "artifact_${{matrix.env}}=${GITHUB_WORKSPACE}/${{env.ARTIFACT-PREFIX}}_${{matrix.env}}" >> ${GITHUB_OUTPUT}
          echo ${{ matrix.cmd }}
          exit ${{ matrix.exit }}
          
  Release:
    runs-on: ubuntu-latest
    needs: Build
    env:
      ARTIFACT-PREFIX: 'artifact'
    steps:
      - name: '发布'
        run: |
          echo ${{ join(needs.*.outputs.*, ',') }}
    
          
          
