name: 'Test2'
on:  
  # 手动触发
  workflow_dispatch:
  
jobs:
  Build:  
    # https://docs.github.com/zh/actions/how-tos/write-workflows/choose-where-workflows-run/choose-the-runner-for-a-job
    runs-on: ubuntu-latest    
    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}      
    steps:      
      - name: '检出仓库'
        uses: actions/checkout@v6
        with:
          path: 'test'
          submodules: true    
      - name: '编译代码'       
        run: |         
          cd ${GITHUB_WORKSPACE}/test
          ls
