name: 'Test'
on:  
  # 手动触发
  workflow_dispatch:
    inputs:
      tag:
        description: '请选择版本（auto,dev,vX.XX.X）'
        required: true
        default: 'auto'
        type: string
jobs:
  Version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{steps.check_version.outputs.version}}
    steps:      
      - name: '检测版本信息'
        id: check_version
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          echo ${{inputs.tag}}
          echo "version=${{inputs.tag}}" >> ${GITHUB_OUTPUT}
          
