name: 'Test'
on:  
  # 手动触发
  workflow_dispatch:
    inputs:
      release:
        description: '请选择版本（latest,dev,vX.XX.X）'
        required: true
        default: 'latest'
        type: string
jobs:
  CheckCommit:
    runs-on: ubuntu-latest
    env:
      REPO: 'tailscale/tailscale'      
      RELEASE: ${{ inputs.release }}
    outputs:
      sha: ${{steps.commit.outputs.sha}}
      tag: ${{steps.commit.outputs.tag}}
    steps:      
      - name: '检测版本信息'
        id: commit
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |          
          if [[ "${RELEASE}" == "latest" ]] || [[ "${RELEASE}" == "" ]]; then
            echo "获取最新发布版本"
            tag=$(gh api repos/${{ env.REPO }}/releases --jq "limit(1; .[] | select(.draft == false and .prerelease == false)) | .tag_name ")
          elif [[ "${RELEASE:0:1}" == "v" ]]; then
            echo "获取指定发布版本(${RELEASE})"
            tag=$(gh api repos/${{ env.REPO }}/releases --jq "limit(1; .[] | select(.tag_name == \"${RELEASE}\" )) | .tag_name ")            
          elif [[ "${RELEASE}" == "dev" ]]; then
            echo "使用最新提交信息"
            tag="dev"
          else
            tag=""
          fi          
          if [[ "${tag}" == "" ]]; then
            echo "获取提交信息失败(${RELEASE})"
            exit 1
          elif [[ "${tag}" == "dev" ]]; then
            echo "获取最新提交信息"
            sha=$(gh api repos/${{ env.REPO }}/commits --jq "limit(1; .[] | .sha)")
          else
            echo "获取指定提交信息(${tag})"
            sha=$(gh api repos/${{ env.REPO }}/tags --jq "limit(1; .[] | select(.name == \"${tag}\")) | .commit.sha ")
          fi         
          echo "获取提交信息成功(${tag}:${sha})"
          echo "tag=${tag}" >> ${GITHUB_OUTPUT}
          echo "sha=${sha}" >> ${GITHUB_OUTPUT}
          exit 0        
  Build:    
    runs-on: ubuntu-latest
    needs: CheckCommit
    env:
      REPO: 'tailscale/tailscale'
      FOLDER: 'tailscale'
      BUILD_SRCIPT: 'build_dist.sh'
      DISTRIBUTION: 'artifacts'
      VERSION: 'VERSION.txt'
      GO_MOD: 'go.mod'
      GO_SUM: 'go.sum'
      TAG: ${{ needs.CheckCommit.outputs.tag }}
      SHA: ${{ needs.CheckCommit.outputs.sha }}
    strategy:
      matrix:
        env: [linux-amd64, linux-arm64]        
        cmd: [ derper ]
        include:
          - env: linux-amd64
            arch: amd64
            os: linux
          - env: linux-arm64
            arch: arm64
            os: linux
          - cmd: derper
            path: cmd
    steps:
      - name: '检出指定提交'
        uses: actions/checkout@v6
        with:
          repository: ${{ env.REPO }}
          ref: ${{needs.CheckCommit.outputs.sha}}
          path: ${{ env.FOLDER }}
          submodules: true
      - name: '初始化 Go 环境'
        uses: actions/setup-go@v6
        with:
          go-version-file: '${{ env.FOLDER }}/${{ env.GO_MOD }}'
          cache-dependency-path: |
            '${{ env.FOLDER }}/${{ env.GO_SUM }}'
      - name: '执行编译(${{ matrix.cmd }})'
        id: build
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}          
        run: |          
          if [[ "${TAG}" == "dev" ]]; then
            cd ${{ github.workspace }}/${{ env.FOLDER }}
            export TZ=UTC
            version="$(cat ${{ env.VERSION }})-$(git log -1 --format="dev%cd-t%h" --abbrev=9 --date=format:%Y$m%d)"
            unset TZ
            path="${version}_${{ matrix.os }}_${{ matrix.arch }}/${{ matrix.cmd }}"
            mkdir --parents ${{ github.workspace }}/${{ env.DISTRIBUTION }}/${path}
            cd ${{ github.workspace }}/${{ env.FOLDER }}/${{ matrix.path }}/${{ matrix.cmd }}
            go build -ldflags "-s -w" -v -o ${{ github.workspace }}/${{ env.DISTRIBUTION }}/${path}/${{ matrix.cmd }} ./...
          elif [[ "${TAG:0:1}" == "v" ]]; then
            version="${{ env.TAG }}"
            if [[ "${version:0:1}" == "v" ]]; then
              version=${version:1}
            fi
            path="${version}_${{ matrix.os }}_${{ matrix.arch }}/${{ matrix.cmd }}"
            mkdir --parents ${{ github.workspace }}/${{ env.DISTRIBUTION }}/${path}   
            cd ${{ github.workspace }}/${{ env.FOLDER }}
            ${{ github.workspace }}/${{ env.FOLDER }}/${{ env.BUILD_SRCIPT }} -v -o ${{ github.workspace }}/${{ env.DISTRIBUTION }}/${path}/${{ matrix.cmd }} ./${{ matrix.path }}/${{ matrix.cmd }}
          fi
          echo "path=${path}" >> ${GITHUB_OUTPUT}
          echo "${{ matrix.cmd }}:${version}"
      
