name: 'Test'
on:  
  # 手动触发
  workflow_dispatch:
    inputs:
      release:
        description: '请选择版本（latest,dev,vX.XX.X）'
        required: true
        default: 'latest'
        type: string
jobs:
  Tag:
    runs-on: ubuntu-latest
    env:
      REPO: 'tailscale/tailscale'
      FOLDER: 'tailscale'
      GO: '1.25.6'
      RELEASE: ${{ inputs.release }}
    outputs:
      sha: ${{steps.commit.outputs.sha}}
      version: ${{steps.version.outputs.version}}
    steps:      
      - name: '检测版本信息'
        id: commit
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |          
          if [[ "${RELEASE}" == "latest" ]] || [[ "${RELEASE}" == "" ]]; then
            output=$(gh api repos/${{ env.REPO }}/releases --jq "limit(1; .[] | select(.draft == false and .prerelease == false)) | .tag_name ")            
          elif [[ "${RELEASE:0:1}" == "v" ]]; then
            output=$(gh api repos/${{ env.REPO }}/releases --jq "limit(1; .[] | select(.tag_name == \"${TAG}\" )) | .tag_name ")            
          else
            output=""
          fi
          if [[ "${output}" != "" ]]; then
            output=$(gh api repos/${{ env.REPO }}/tags --jq "limit(1; .[] | select(.name == \"${tag}\")) | .commit.sha ")
          elif [[ "${RELEASE}" == "dev" ]]; then
            output=$(gh api repos/${{ env.REPO }}/commits --jq "limit(1; .[] | .sha)")
          fi
          if [[ "${output}" == "" ]]
            echo "获取提交信息失败(${RELEASE})"
            exit 1
          fi
          echo "获取提交信息成功(${output})"
          echo "sha=${output}" >> ${GITHUB_OUTPUT}
          exit 0
      - name: '检出指定提交'
        uses: actions/checkout@v6
        with:
          repository: ${{ env.REPO }}
          ref: ${{steps.commit.outputs.sha}}
          path: ${{ env.FOLDER }}
          submodules: true
      - name: '初始化 Go 环境'
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO }}
      - name: '生成版本信息'
        id: version
        env:
          SHA: ${{steps.commit.outputs.sha}}
          CGO_ENABLED: 0
          VERSION_TXT: 'VERSION.txt'
          VERSION_CMD: './cmd/mkversion'
          VERSION_PREFIX: 'version'
        run: |
          cd ${GITHUB_WORKSPACE}/${{ env.FOLDER }}
          if [[ "${RELEASE}" == "dev" ]]; then
            export TZ=UTC
            echo "version=$(cat ${{ env.VERSION_TXT }})-$(git log -1 --format="dev%cd-t%h" --date=format:'%Y%m%d' --abbrev=9)" >> ${GITHUB_OUTPUT}
            unset TZ
          else            
            go run ${{ env.VERSION_CMD }} > ${VERSION_PREFIX}.${SHA}
            source ${VERSION_PREFIX}.${SHA}
            echo "version${VERSION_LONG}" >> ${GITHUB_OUTPUT}
          fi
      - name: '缓存工作空间'
        uses: actions/cache@v4
        with:
          path: ${GITHUB_WORKSPACE}/${{ env.FOLDER }}
          key: ${{steps.commit.outputs.sha}}
  Build:    
    runs-on: ubuntu-latest
    needs: Tag
    env:
      REPO: 'tailscale/tailscale'
    strategy:
      matrix:
        env: [linux-amd64, linux-arm64]        
        cmd: [ derper ]
        include:
          - env: linux-amd64
            arch: amd64
            os: linux
          - env: linux-arm64
            arch: arm64
            os: linux
          - cmd: derper
            path: /cmd/derper
    steps:
      
      
      