name: 'Test2'
on:  
  # 手动触发
  workflow_dispatch:
jobs:
  Build:  
    # https://docs.github.com/zh/actions/how-tos/write-workflows/choose-where-workflows-run/choose-the-runner-for-a-job
    runs-on: ubuntu-latest    
    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
    steps:      
      - name: '检出 tailscale/tailscale 仓库'
        uses: actions/checkout@v6
        with:
          repository: tailscale/tailscale
          path: tailscale
          submodules: true
      - name: Tag
        run: |
          cd ${{ GITHUB_WORKSPACE }}/tailscale
          ls