name: 'Test2'
on:  
  # 手动触发
  workflow_dispatch:
  push:
    branches:
      - "main"
jobs:
  Build:  
    # https://docs.github.com/zh/actions/how-tos/write-workflows/choose-where-workflows-run/choose-the-runner-for-a-job
    runs-on: ubuntu-latest    
    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      GO_VERSION: '1.25.6'
      REPOSITORY: 'tailscale/tailscale'
    steps:      
      - name: '检出 tailscale/tailscale 仓库'
        uses: actions/checkout@v6
        with:
          repository: ${{ env.REPOSITORY }}
          path: tailscale
          submodules: true
      # https://github.com/actions/setup-go
      - name: '初始化 Go 环境'
        uses: actions/setup-go@v6
        with:
          go-version: ${{env.GO_VERSION}}
      - name: '编译代码'
        env:
          TZ: UTC
          GOOS: linux
          GOARCH: amd64
          CGO_ENABLED: 0
        run: |         
          cd ${GITHUB_WORKSPACE}/tailscale
          gh api repos/${{ env.REPOSITORY }}/releases --jq '.[] | select(.draft == false and .prerelease == false) | .tag_name' | head -1
          gh api repos/${{ env.REPOSITORY }}/releases