name: 'Test'
on:  
  # 手动触发
  workflow_dispatch:
    inputs:
      release:
        description: '请选择版本（latest,dev,vX.XX.X）'
        required: true
        default: 'latest'
        type: string
jobs:
  CheckCommit:
    runs-on: ubuntu-latest
    env:
      REPO: 'tailscale/tailscale'      
      RELEASE: ${{ inputs.release }}
    outputs:
      sha: ${{steps.commit.outputs.sha}}
    steps:      
      - name: '检测版本信息'
        id: commit
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |          
          if [[ "${RELEASE}" == "latest" ]] || [[ "${RELEASE}" == "" ]]; then
            output=$(gh api repos/${{ env.REPO }}/releases --jq "limit(1; .[] | select(.draft == false and .prerelease == false)) | .tag_name ")            
          elif [[ "${RELEASE:0:1}" == "v" ]]; then
            output=$(gh api repos/${{ env.REPO }}/releases --jq "limit(1; .[] | select(.tag_name == \"${TAG}\" )) | .tag_name ")            
          else
            output=""
          fi
          if [[ "${output}" != "" ]]; then
            output=$(gh api repos/${{ env.REPO }}/tags --jq "limit(1; .[] | select(.name == \"${tag}\")) | .commit.sha ")
          elif [[ "${RELEASE}" == "dev" ]]; then
            output=$(gh api repos/${{ env.REPO }}/commits --jq "limit(1; .[] | .sha)")
          fi
          if [[ "${output}" == "" ]]
            echo "获取提交信息失败(${RELEASE})"
            exit 1
          fi
          echo "获取提交信息成功(${output})"
          echo "sha=${output}" >> ${GITHUB_OUTPUT}
          exit 0        
  Build:    
    runs-on: ubuntu-latest
    needs: CheckCommit
    env:
      REPO: 'tailscale/tailscale'
      FOLDER: 'tailscale'
      GO: '1.25.6'
      RELEASE: ${{ inputs.release }}
    strategy:
      matrix:
        env: [linux-amd64, linux-arm64]        
        cmd: [ derper ]
        include:
          - env: linux-amd64
            arch: amd64
            os: linux
            version: '-version'
          - env: linux-arm64
            arch: arm64
            os: linux
            version: ''
          - cmd: derper
            path: /cmd/derper    
    steps:
      - name: '检出指定提交'
        uses: actions/checkout@v6
        with:
          repository: ${{ env.REPO }}
          ref: ${{needs.CheckCommit.outputs.sha}}
          path: ${{ env.FOLDER }}
          submodules: true
      - name: '初始化 Go 环境'
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO }}
      - name: '执行编译(${{ matrix.cmd }})'
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}          
        run: |
          mkdir --parents ${ GITHUB_WORKSPACE }/artifacts/${{ matrix.os }}_${{ matrix.arch }}/${{ matrix.cmd }}
          if [[ "${RELEASE}" == "dev" ]]; then
            cd ${ GITHUB_WORKSPACE }/${{ env.FOLDER }}/${{ matrix.path }}
            go build -ldflags "-s -w" -v -o ${ GITHUB_WORKSPACE }/artifacts/${{ matrix.os }}_${{ matrix.arch }}/${{ matrix.cmd }}/${{ matrix.cmd }} ./...
          else
            cd ${ GITHUB_WORKSPACE }/artifacts/${{ matrix.os }}_${{ matrix.arch }}/${{ matrix.cmd }}
            ${ GITHUB_WORKSPACE }/${{ env.FOLDER }}/build_dist.sh ${ GITHUB_WORKSPACE }/${{ env.FOLDER }}/${{ matrix.path }}
          fi
      - name: '获取版本(${{ matrix.cmd }})'
        if: ${{ matrix.version != '' }}
        run: |
          cd ${ GITHUB_WORKSPACE }/artifacts/${{ matrix.os }}_${{ matrix.arch }}/${{ matrix.cmd }}
          ${{ matrix.cmd }} ${{ matrix.version }}
      
      
      
