name: 'Test'
on:  
  # 手动触发
  workflow_dispatch:
jobs:
  Build:  
    strategy:
      matrix:
        env: [linux-amd64, linux-arm64]
        include:
          - env: linux-amd64
            arch: amd64
            os: linux
          - env: linux-arm64
            arch: arm64
            os: linux
    # https://docs.github.com/zh/actions/how-tos/write-workflows/choose-where-workflows-run/choose-the-runner-for-a-job
    runs-on: ubuntu-latest    
    env:
      GO-VERSION: '1.25.6'
      TZ: 'UTC'
      ARTIFACT-PREFIX: 'artifact'
    outputs:
      artifacts_${matrix.env}: ${{steps.build.outputs.artifacts}}
    steps:      
      - name: '构建'
        id: build
        run: |       
          export GOARCH=${{ matrix.arch }} GOOS=${{ matrix.os }}
          echo ${GOARCH}
          echo ${GOOS}
          date +"%Z %z"
          export TZ=${{ env.TZ }}
          date +"%Z %z" > ${GITHUB_WORKSPACE}/${{env.ARTIFACT-PREFIX}}_${{matrix.env}}
          unset TZ
          date +"%Z %z"
          echo "artifacts=${GITHUB_WORKSPACE}/${{env.ARTIFACT-PREFIX}}_${{matrix.env}}" >> ${GITHUB_OUTPUT}
          if [ "${{ matrix.env }}" = "linux-arm64" ]; then
            echo 1
            exit 1
          else
            echo 0
            exit 0
          fi
  Release:
    runs-on: ubuntu-latest
    needs: Build
    if: ${{ !contains(join(needs.*.result, ','), 'failure') }}
    env:
      ARTIFACT-PREFIX: 'artifact'
    steps:
      - name: '发布'
        run: |
          echo ${{ join(needs.*.result, ',') }}
    
          
          
